@import url('https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&family=K2D:wght@400;700&display=swap');

:root {
    --color-text: #37474F;
    --blue-background: #BBDEFB;
    --shadow-color: #707070;
}

.container {
    max-width: 1220px;
    margin: 0 110px;
    font-family: 'Istok Web', serif;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 402px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 115px;

    font-size: 25px;
    line-height: 36px;
    color: var(--color-text);
}

.menu__item {
    white-space: nowrap;
    padding: 10px;
    transition: all 0.5s;
}

.menu__item:hover {
    background-color: #BBDEFB;
}

.hero__photo {
    width: 100%;
}

.what-to-do {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 78px 0;
}

.main__what-to-do {
    margin-top: 70px;
}

.section-title {
    font-size: 64px;
    line-height: 92px;

    text-align: center;
    color: #000000;
}

.photo-grid {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
    gap: 117px;
}

.photo-grid__item {
    border-radius: 22px;
    box-shadow: 7px 5px 10px var(--shadow-color);
}

.reasons {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'K2D', sans-serif;

    background-color: var(--blue-background);
}

.reasons__section-title {
    margin-bottom: 110px;
}

.main__reasons {
    margin-top: 185px;
}

.reasons__content {
    padding: 66px 0;
}

.reasons__left {
    transition: all 2s;
}

.reasons__left:hover {
    transform: scale(1.1);
}

.reasons-cards {
    display: flex;
    flex-direction: column;
    gap: 133px 0;
}

.reasons-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 118px;
}

.reasons__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 76px 0;
    max-width: 536px;

    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
}

.reasons__title {
    font-family: inherit;
}

.reasons__describe-text {
    font-family: inherit;
    font-weight: 700;
}

.reasons-card_inverse {
    flex-direction: row-reverse;
}

.reasons__promo-text {
    max-width: 1150px;
    margin-top: 201px;
    margin-bottom: 150px;

    font-weight: 400;
    font-size: 64px;
    line-height: 83px;
}

.follow-us {
    padding-top: 155px;
    padding-bottom: 120px;
    background: linear-gradient(90deg, rgba(212,212,212,1) 0%, rgba(101,101,154,1) 50%, rgba(0,212,255,1) 97%);
}

.section-title-another {
    font-family: 'K2D', sans-serif;
    font-weight: 400;
    font-size: 65px;
    line-height: 84px;

    text-align: center;
}

.follow-us-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 150px;
}

.follow-us-icon {
    transition: transform 1s;
}

.follow-us-icon:hover {
    transform: scale(1.2) rotate(360deg);
}

.follow-us__follow-us-icons {
    margin-top: 150px;
}

.footer {
    background-color: var(--blue-background);
}

.footer__content {
    padding-top: 65px;
}

.contact {
    width: 100%;
    display: grid;
    grid-template: 1fr 1fr / 146px 1fr;
}

.contact__text-container {
    font-weight: 800;
    font-size: 25px;
    line-height: 32px;
    align-self: center;
}

.map {
    display: flex;
    justify-content: center;
    align-items: center;
}

.space-section {
    margin: 50px 0;
}

.center-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.map__item {
    border-radius: 20px;
}